/* @import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;700;900&display=swap'); */

/* .recrusive-font {
  font-family: 'Inter', sans-serif;
} */

:root {
  --black: #252525;
  --grey: grey;
  --blue: #2251ff;
  --green: #14e8bb;
  --pink: #ea7af4;
  --orange: #ffd744;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", "Segoe UI";
  color: var(--black);
}

body {
  max-width: 900px;
  margin: auto;
}

main {
  max-width: 900px;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 3em;
}

h1 {
  font-weight: 700;
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
  font-weight: bolder;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.6em;
}

h4 {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

h5 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.6em;
}

h6 {
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.6em;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
  text-decoration: underline;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 4em;
  height: 70px;
  align-items: center;
}

header .logo {
  height: 35px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 2em;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

footer .copyright {
  color: var(--grey);
}

header nav a,
footer nav a {
  padding-right: 2em;
  color: black !important;
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
}

header nav a:hover,
footer nav a:hover {
  padding-right: 2em;
  color: var(--blue) !important;
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
}
