@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;700;900&display=swap');

.recrusive-font {
  font-family: 'Recursive', sans-serif;
}

:root {
  --black: #252525;
  --grey: grey;
  --blue: #2251ff;
  --green:#14e8bb;
  --pink:#ea7af4;
  --orange: #ffd744;
}

html {
  font-family: "Recursive", sans-serif;
  color: var(--black);
}

body {
  max-width: 900px;
  margin: auto;
}

main {
  max-width: 900px;
  margin: auto;
}

h1 {
  font-weight: 900;
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
  font-weight: bolder;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.6em;

}

h4 {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

h5 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.6em;
}

h6 {
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.6em;
}

a:link {
  color:var(--blue);
}

a:hover {
  color:var(--blue);
  text-decoration: underline;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 30px;
  height: 70px;
  align-items: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 20px;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

footer .copyright {
  color: var(--grey);
}

header nav a,
footer nav a {
  padding-right: 5px;
}

a {
  text-decoration: none;
  color: var(--black);
}

@import "../about/index.css";
@import "./submit/index.css";
@import "./index.css";