.heading {
  text-align: center;
  padding-bottom: 20px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#mc_embed_signup_scroll {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 48px;
}

#mce-EMAIL {
  padding: 0 15px;
  border: 2px solid var(--blue);
  border-radius: 3px 0 0 3px;
  width: 200px;
}

#mc-embedded-subscribe {
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  font-size: 14px;
  border: 2px solid var(--blue);
  padding: 0 20px;
  border-radius: 0 3px 3px 0;
  height: 48px
}
