main {
  max-width: 600px;
}

#mce-EMAIL {
  display:inline-block;
  float:left; 
  margin: 0 -50px 0 0px;
}

#mailchimp input {
		border: 2px solid #2251ff;
    color: #F6F6F6;
    font-size: 16px;
    font-style: bolder;
    padding: 8px 10px;
    width: 300px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
  
  #mailchimp input.email { background: #fff }
	#mailchimp input.name { background: #fff}
	#mailchimp input[type="submit"] {
		background: #2251ff;
		color: #fff;
		cursor: pointer;
		font-size: 16px;
		width: 20%;
		padding: 8px 0;
  }

	#mailchimp input[type="submit"]:hover { color: #ffd744; font-style: bold}